@import "bootstrap.min.css"
@import "bootstrap-responsive.min.css"
@import "icons/icons.css"
@import "jNotify.jquery.css"

@font-face {
  font-family: 'Engagement';
  font-style: normal;
  font-weight: 400;
  src: local('Engagement'), local('Engagement-Regular'), url(http://themes.googleusercontent.com/static/fonts/engagement/v2/IYnYh0uOiuydvYrbHKIjwRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(http://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

color-beige = #FCF8DC
color-dark-red = #661C00
color-dark-brown = #463116
color-box-border = #50483D
color-purple = #450497
color-error = #B94A48
color-error-background = #F2DEDE
color-success = #468847
color-success-background = #DFF0D8
color-olive = #869270
color-dark-green = #2B4429

color-box-shadow = rgba(color-box-border, 0.065)
color-box-background = rgba(color-beige, 0.6)

box(opacy)
  margin-top 5px
  margin-bottom 10px
  background-color: rgba(color-beige, opacy)
  border-top: 1px solid color-box-border;
  border-bottom: 1px solid color-box-border;
  border-radius: 8px;
  box-shadow: 0 1px 4px color-box-shadow;
  text-align: center;
  padding 10px 0 10px
  .box-header
    padding: 10px
    border: 1px solid color-box-border;
    text-align: left;
    margin: -11px 0 0 0;
    border-radius: 8px 8px 0 0;
    h3
      line-height: 1;
  .box-body
    padding  10px
    text-align: left;
    border-left 1px solid color-box-border;
    border-right 1px solid color-box-border;
    .span3
      width 208px
    .span4
      width 290px
    #profile-form
      .span3
        width 179px
        margin 0 10px
      .input-xlarge
        width 249px
      button
        width 100%
  .box-footer
    padding 10px
    background-color darken(color-beige, 10%)
    border: 1px solid color-box-border;
    text-align: left;
    margin: 0 0 -11px 0;
    border-radius: 0 0 8px 8px;

.box
  box(1)
  h4
    border-bottom: none !important
.box-transparent
  box(0.6)
  h4
    border-bottom: 1px solid color-box-border;

.logo
  margin-top 5px
  margin-bottom 10px
  text-align: center;
  line-height: 95px;
  span
    font-family Engagement
    font-size 500%
    color color-beige
    background-color color-dark-brown
    border-radius: 50%;
    height: 95px;
    display: block;
    width: 195px;
    margin auto

.titlebar
  padding: 30px 0;
  text-align right
  .input-prepend
    input, textarea, .uneditable-input
      color color-dark-brown
      border 1px solid color-box-border
      -webkit-border-radius: 0 15px 15px 0;
      -moz-border-radius: 0 15px 15px 0;
      border-radius: 0 15px 15px 0;
      padding: 4px 0px 4px 4px;
      margin-right: -2px;
    input.span5
      width 330px
    .add-on
      color color-dark-brown
      background-color color-beige
      border 1px solid color-box-border
      padding: 6px 5px 2px 8px;
      -webkit-border-radius: 15px 0 0 15px;
      -moz-border-radius: 15px 0 0 15px;
      border-radius: 15px 0 0 15px;
  .span3
    text-align left
    width 270px
    margin-left 5px
    a
      font-size 16px
      color color-dark-green
      padding: 5px 6px;
      line-height: 2.5;
      background-color: color-beige;
      margin: 0
      border-radius: 8px;
      border 1px solid color-dark-green
      span
        margin-right: 5px;
    a:hover,a:focus
      color white
      background-color color-olive
.menu
  text-align left
  a
    color: color-dark-green
    font-size: 16px;
    padding: 5px 6px;
    background-color: color-beige;
    margin: 0 5px;
    border-radius: 8px;
    display: inline-block;
    width: 83%;
    padding-left: 20px;
    span
      margin-right: 10px;
    #messages-badge
      display none
      float right
  a:hover,a:focus
    color white
    background-color color-olive
  .first
    border-top-color: color-dark-green
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: color-dark-green
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: color-dark-green
    border-left-style: solid;
    border-left-width: 1px;

  .last
    border-right-color: color-dark-green
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: color-dark-green
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: color-dark-green
    border-left-style: solid;
    border-left-width: 1px;

  .middle
    border-right-color: color-dark-green
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: color-dark-green
    border-left-style: solid;
    border-left-width: 1px;

body
  font-family Noto Serif
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input, select, button, textarea
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 1px;

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
  border-color: color-dark-red
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(color-dark-red,0.6)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(color-dark-red,0.6)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(color-dark-red,0.6)

#profilePictureHolder
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  img
    border: 1px solid color-box-border;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
#profile-picture
  border: 1px solid color-dark-green;
  width: 128px;
  height: 128px;
  margin: 0 auto 10px;
  border-radius: 20px;
  padding: 5px;
  background-color: color-beige
  #my-avatar
    border-radius 20px
#content
  #comments_body
    .span7
      width: 510px;
      text-align right
      h4
        width: 100%;
        -ms-word-wrap break-word
        word-wrap break-word
        margin-bottom: 20px;
        font-size: 17pt;
      .comments
        font-size: 14pt;
        line-height: 24px;
        .comment
          width 65%
          display inline-block
          margin 5px 0
          -ms-word-wrap break-word
          word-wrap break-word
          text-align: left;
          .wall-user-reply
            font-size 17pt
        .timeAgo
          font-size 14pt
          width: 30%;
          display: inline-block;
          overflow: hidden;
          ms-word-wrap: break-word;
          word-wrap: break-word;
          white-space: nowrap;
          text-overflow: ellipsis;
      textarea
        width 99%
  #publication_list .box
    padding 0
    width: 510px;
    .publication_header
      overflow hidden
      text-align left
      border-bottom: 1px solid color-box-border;
      line-height: 2;
      font-size: 14pt;
      padding 0 10px
      a
        width: 78%;
        display: inline-block;
        height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -ms-word-wrap: normal;
        word-wrap: normal;
      .icon-bubbles
        margin 5px
      .time-ago
        float right
    .first_comment
      text-align left
      padding 10px
      span
        font-size: 13pt;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
  ul
    list-style-type: none;
  #users-filters
    form
      .input-prepend
        .add-on
          border-radius: 15px 0 0 15px;
        input
          border-radius: 0 15px 15px 0;
          width 475px
    .offset4
      margin-left 300px
    .user-entry
      margin-right: 22px;
      margin-left: -25px;
      .row
        line-height 5
      .span3
        margin-left 0
        width 215px
      .span2
        margin-left 0
        width 120px
        label
          line-height: 65px;
  #forgot-error
    width: 96%;
    margin-bottom: 0 !important;
    margin-top: 10px;
  .offset1-5
    margin-left 60px
  .alert-error
    padding 8px 15px 8px 30px
    background: color-error-background  url('../img/error.png') no-repeat 5px center;
    border: 1px solid color-error;
    ul
      list-style-type: none;
      margin: 0;
  .alert-success
    padding 8px 15px 8px 30px
    background: color-success-background  url('../img/success.png') no-repeat 5px center;
    border: 1px solid color-success;
  a
    color color-purple
  a:hover,a:focus
    color darken(color-purple, 30%);

  .btn-primary
    margin auto
    background-color: color-dark-red;
    *background-color: darken(color-dark-red, 10%)
    background-image: -moz-linear-gradient(top, lighten(color-dark-red, 10%), darken(color-dark-red, 10%));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten(color-dark-red, 10%)), to(darken(color-dark-red, 10%)));
    background-image: -webkit-linear-gradient(top, lighten(color-dark-red, 10%), darken(color-dark-red, 10%));
    background-image: -o-linear-gradient(top, lighten(color-dark-red, 10%), darken(color-dark-red, 10%));
    background-image: linear-gradient(to bottom, lighten(color-dark-red, 10%), darken(color-dark-red, 10%));
    border-color: darken(color-dark-red, 10%) darken(color-dark-red, 10%) darken(color-dark-red, 20%);
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled]
    background-color: color-dark-red
    *background-color: darken(color-dark-red, 10%);
  .btn-free
    background-color: color-beige;
    *background-color: darken(color-beige, 10%)
    background-image: -moz-linear-gradient(top, lighten(color-beige, 10%), darken(color-beige, 10%));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten(color-beige, 10%)), to(darken(color-beige, 10%)));
    background-image: -webkit-linear-gradient(top, lighten(color-beige, 10%), darken(color-beige, 10%));
    background-image: -o-linear-gradient(top, lighten(color-beige, 10%), darken(color-beige, 10%));
    background-image: linear-gradient(to bottom, lighten(color-beige, 10%), darken(color-beige, 10%));
    border-color: darken(color-beige, 10%) darken(color-beige, 10%) darken(color-beige, 20%);
  .btn-free:hover,
  .btn-free:focus,
  .btn-free:active,
  .btn-free.active,
  .btn-free.disabled,
  .btn-free[disabled]
    background-color: color-beige
    *background-color: darken(color-beige, 10%);
  form
    margin-bottom 0
    .input-prepend
      .add-on
        color color-dark-brown
        background-color inherit
        border 1px solid color-box-border
      input, textarea, .uneditable-input
        color color-dark-brown
        border 1px solid color-box-border
        border-top-left-radius: 0px;
      .span3
        width: 166px
      .span6
        width 396px
      .span7
        width 476px
    input.span6
      width 436px
    input.span7
      width 517px
  h4
    text-align left
    margin: 0 0 5px;
    line-height: 25px;
    font-weight: normal;
    padding-left: 5px;
  h6
    font-weight normal
    margin 0

  .modal
    background-color: color-beige
    .modal-header
      border-bottom: 1px solid color-box-border
    .modal-body
      background-color inherit
    .modal-footer
      padding 9px 15px 10px
      background-color inherit
      border-top: none
      box-shadow: none
    .input-prepend
      input.span3, textarea.span3, .uneditable-input.span3
        width: 485px
  #profile-form
    margin-top 10px
    a
      color: color-dark-green
      font-size: 16px;
      padding: 5px 6px;
      background-color: color-beige
      border-radius: 8px;
      display: inline-block;
      width: 89%;
      border 1px solid color-dark-green
      margin: -10px 0 10px;
      text-align left
      span
        margin-right: 10px;
    a:hover,a:focus
      color white
      background-color color-olive
#actionResult
  display none

.providers
  margin: 5px 0;
  list-style: none;
  li
    display: inline;

.help-block {
  margin: -10px 0 10px 0;
  font-size: 10px;
  color: #ccc !important;
}

.loggedin, .loggedout
  display none

#jError, #jNotify, #jSuccess
  width 80%

@media (min-width: 1200px)
  #content
    #comments_body
      .span7
        width: 640px;
    #publication_list .box
      width: 656px;
      .publication_header
        a
          width: 83%;
    #users-filters
      form
        .input-prepend
          input
            width 600px
      .offset4
        margin-left: 430px;
      .user-entry
        .span3
          width 275px
        .span2
          width 150px
    .offset1-5
      margin-left 80px
    form
      .input-prepend
        .span3
          width: 216px
        .span6
          width 506px
        .span7
          width 605px
      input.span6
        width 546px
      input.span7
        width 647px
  .box
    .box-body
      .span3
        width 258px
      .span4
        width 360px
      #profile-form
        .span3
          width 248px
          margin 0 20px
        .input-xlarge
          width 319px
  .titlebar
    .input-prepend
      input
        padding: 4px 10px;
        margin-right: -10px;
      input.span5
        width 455px
    .span3
      text-align right
      width 300px
      margin-left 0
      a
        padding: 5px 10px;
        margin 0
  .menu
    a
      width: 86%;
@media (max-width: 979px) and (min-width: 768px)
  #content
    #comments_body
      .span7
        width: 385px;
    #publication_list .box
      width: 383px;
      .publication_header
        a
          width: 70%;
    #users-filters
      form
        .input-prepend
          input
            width 355px
      .offset4
        margin-left: 176px;
      .user-entry
        .span3
          width 140px
        .span2
          width 103px
    .offset1-5
      margin-left 50px
    form
      .input-prepend
        .span3
          width: 112px
        .span6
          width 288px
        .span7
          width 350px
      input.span7
        width 391px
      input.span6
        width 329px
  .box
    .box-body
      .span3
        width 154px
      .span4
        width 215px
      #profile-form
        .span3
          width 146px
        .input-xlarge
          width 174px
  .titlebar
    .input-prepend
      input
        width 465px
      input.span5
        width 195px
    .span3
      width 266px
      text-align right
      margin-left 0
      a
        padding: 5px 5px;
  .menu
    a
      width: 78%;
@media (max-width: 767px) and (min-width: 480px)
  #content
    #comments_body
      .span7
        width: 98%;
      button.replybox
        width 49%
        height 46px
    ul#publication_list
      margin 0
      .box
        width: 100%;
        .publication_header
          a
            width: 72%;
          .time-ago
            width: 25%;
            text-align right
    #users-filters
      form
        width: 89%;
        .input-prepend
          width: 100%;
          .add-on
            height: 22px;
          input
            width: 100%;
            padding: 0 10px;
      .btn-group
        clear both
        margin-left 0
        width: 51%;
      .user-entry
        .row
          line-height 6
          .span3
            width 50%
            float left
            margin 18px 0
          .span2
            width 33%
            float left
            line-height 2
            margin-top: 16px;
            label
              line-height inherit
          .span1
            float left
            width 15%
    .offset1-5
      margin-left 0
    .btn-primary
      width: 98%
    form
      input.span6
        margin 0
      .input-prepend
        display block
        .span3, .span6, .span7
          width: 94%
      input.span7
        width 100%
      .modal
        .btn-primary
          width auto
        .input-prepend
          width 100%
          .span3,.span6
            width: 94%
    form#profile-form
      .input-prepend
        .add-on
          float left
        input, textarea
          width 93%
  .box
    .box-body
      .span3
        width 98%
      .span4
        width 100%
      #profile-form
        .span3
          width 98%
  .titlebar
    text-align left
    padding 0
    .navbar-search
      width: 94%;
      margin-left -20px
    .input-prepend
      width 100%
      margin-left: 20px;
      input
        width 100%
      input.span5
        width 102%
    .span3
      text-align: right;
      width: 100%
      float left
      a
        margin 0
  .menu
    margin-top: 10px;
    text-align center
    .only-icon
      display none
    a
      padding: 19px 4px;
      width: 14%;
      border 1px solid color-box-border
      span
        margin-right: 0px;
    ul
      display none
  #profile-picture
    display none

@media (max-width: 480px)
  #content
    #comments_body
      .span7
        width: 98%;
      button.replybox
        width 49%
        height 46px
    ul#publication_list
      margin 0
      .box
        width: 100%;
        .publication_header
          font-size: 12pt;
          a
            width: 70%;
          .time-ago
            width: 26%;
            text-align: right;
            overflow: hidden;
            white-space: nowrap;
            -ms-word-wrap normal
            word-wrap normal
        .first_comment
          span
            font-size: 11pt;
    #users-filters
      form
        width: 82%;
        .input-prepend
          width: 100%;
          .add-on
            height: 22px;
          input
            width: 100%;
            padding: 0 10px;
      .btn-group
        clear both
        margin-left 0
        width: 54%;
      .user-entry
        .row
          line-height 0
          .span3
            width 50%
            float left
          .span2
            width 50%
            float left
            margin-top 9px
            label
              line-height inherit
          .span1
            float left
            width 50%
    .offset1-5
      margin-left 0
    .btn-primary
      width: 93%
    form
      input.span6
        margin 0
      .input-prepend
        display block
        .span3, .span6
          width 86%
        .span7
          width: 90%
      input.span7
        width 100%
      .modal
        .btn-primary
          width auto
        .input-prepend
          width 100%
          .span3,.span6
            width: 86%
    form#profile-form
      .input-prepend
        .add-on
          float left
        input, textarea
          width 88%
  .box
    .box-body
      .span3
        width 98%
      .span4
        width 100%
      #profile-form
        .span3
          width 83%
          button
          width 95%
  .titlebar
    padding 0
    width 100%
    text-align left
    .navbar-search
      width 100%
    .input-prepend
      width 100%
      input
        width 92%
      input.span5
        width 94%
    .span3
      text-align: right;
      width: 100%;
      a
        margin 0
  .menu
    margin-top: 10px;
    text-align center
    .only-icon
      display none
    a
      padding: 19px 0px;
      width: 13%;
      border 1px solid color-box-border
      span
        margin-right: 0px;
    ul
      display none
  #profile-picture
    display none