@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
@font-face {
  font-family: 'Engagement';
  font-style: normal;
  font-weight: 400;
  src: local('Engagement'), local('Engagement-Regular'), url("http://themes.googleusercontent.com/static/fonts/engagement/v2/IYnYh0uOiuydvYrbHKIjwRsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url("http://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
.color-1 {
  background-color: #000a66;
}
.color-2 {
  background-color: #663900;
}
.color-3 {
  background-color: #1c6600;
}
.color-4 {
  background-color: #000a66;
}
.color-5 {
  background-color: #2d0066;
}
.color-6 {
  background-color: #463116;
}
.box {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(255,238,221,0.6);
  border-top: 1px solid #50483d;
  border-bottom: 1px solid #50483d;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(80,72,61,0.065);
  text-align: center;
  padding: 10px 0 10px;
}
.box form {
  margin: auto;
}
.box h4 {
  text-align: left;
  border-bottom: 1px solid #50483d;
  margin: 0 0 5px;
  line-height: 25px;
  text-rendering: optimizelegibility;
  font-weight: normal;
  padding-left: 5px;
}
.box .btn-primary {
  background-color: #661c00;
  *background-color: #5c1900;
  background-image: -moz-linear-gradient(top, #8f2700, #5c1900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f2700), to(#5c1900));
  background-image: -webkit-linear-gradient(top, #8f2700, #5c1900);
  background-image: -o-linear-gradient(top, #8f2700, #5c1900);
  background-image: linear-gradient(to bottom, #8f2700, #5c1900);
  border-color: #5c1900 #5c1900 #521600;
}
.box .btn-primary:hover,
.box .btn-primary:focus,
.box .btn-primary:active,
.box .btn-primary.active,
.box .btn-primary.disabled,
.box .btn-primary[disabled] {
  background-color: #661c00;
  *background-color: #5c1900;
}
/*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
*/
.logo {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 95px;
}
.logo span {
  font-family: Engagement;
  font-size: 500%;
  color: #fed;
  background-color: #463116;
  border-radius: 50%;
  height: 95px;
  display: block;
  width: 195px;
}
body {
  font-family: Noto Serif;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#actionResult {
  display: none;
}
.providers {
  margin: 5px 0;
  list-style: none;
}
.providers li {
  display: inline;
}
.help-block {
  margin: -10px 0 10px 0;
  font-size: 10px;
  color: #ccc !important;
}
.loggedin,
.loggedout {
  display: none;
}
