@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
@import "icons/icons.css";
@font-face {
  font-family: 'Engagement';
  font-style: normal;
  font-weight: 400;
  src: local('Engagement'), local('Engagement-Regular'), url("http://themes.googleusercontent.com/static/fonts/engagement/v2/IYnYh0uOiuydvYrbHKIjwRsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url("http://themes.googleusercontent.com/static/fonts/notoserif/v1/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
.box {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fcf8dc;
  border-top: 1px solid #50483d;
  border-bottom: 1px solid #50483d;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(80,72,61,0.065);
  text-align: center;
  padding: 10px 0 10px;
}
.box .box-header {
  padding: 10px;
  border: 1px solid #50483d;
  text-align: left;
  margin: -11px 0 0 0;
  border-radius: 8px 8px 0 0;
}
.box .box-header h3 {
  line-height: 1;
}
.box .box-body {
  padding: 10px;
  text-align: left;
  border-left: 1px solid #50483d;
  border-right: 1px solid #50483d;
}
.box .box-body .span3 {
  width: 208px;
}
.box .box-footer {
  padding: 10px;
  background-color: #f8efb1;
  border: 1px solid #50483d;
  text-align: left;
  margin: 0 0 -11px 0;
  border-radius: 0 0 8px 8px;
}
.box h4 {
  border-bottom: none !important;
}
.box-transparent {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(252,248,220,0.6);
  border-top: 1px solid #50483d;
  border-bottom: 1px solid #50483d;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(80,72,61,0.065);
  text-align: center;
  padding: 10px 0 10px;
}
.box-transparent .box-header {
  padding: 10px;
  border: 1px solid #50483d;
  text-align: left;
  margin: -11px 0 0 0;
  border-radius: 8px 8px 0 0;
}
.box-transparent .box-header h3 {
  line-height: 1;
}
.box-transparent .box-body {
  padding: 10px;
  text-align: left;
  border-left: 1px solid #50483d;
  border-right: 1px solid #50483d;
}
.box-transparent .box-body .span3 {
  width: 208px;
}
.box-transparent .box-footer {
  padding: 10px;
  background-color: #f8efb1;
  border: 1px solid #50483d;
  text-align: left;
  margin: 0 0 -11px 0;
  border-radius: 0 0 8px 8px;
}
.box-transparent h4 {
  border-bottom: 1px solid #50483d;
}
.logo {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 95px;
}
.logo span {
  font-family: Engagement;
  font-size: 500%;
  color: #fcf8dc;
  background-color: #463116;
  border-radius: 50%;
  height: 95px;
  display: block;
  width: 195px;
  margin: auto;
}
body {
  font-family: Noto Serif;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#content textarea:focus,
#content input[type="text"]:focus,
#content input[type="password"]:focus,
#content input[type="datetime"]:focus,
#content input[type="datetime-local"]:focus,
#content input[type="date"]:focus,
#content input[type="month"]:focus,
#content input[type="time"]:focus,
#content input[type="week"]:focus,
#content input[type="number"]:focus,
#content input[type="email"]:focus,
#content input[type="url"]:focus,
#content input[type="search"]:focus,
#content input[type="tel"]:focus,
#content input[type="color"]:focus,
#content .uneditable-input:focus {
  border-color: #661c00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,28,0,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,28,0,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,28,0,0.6);
}
#content .btn-primary {
  margin: auto;
  background-color: #661c00;
  *background-color: #5c1900;
  background-image: -moz-linear-gradient(top, #8f2700, #5c1900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f2700), to(#5c1900));
  background-image: -webkit-linear-gradient(top, #8f2700, #5c1900);
  background-image: -o-linear-gradient(top, #8f2700, #5c1900);
  background-image: linear-gradient(to bottom, #8f2700, #5c1900);
  border-color: #5c1900 #5c1900 #521600;
}
#content .btn-primary:hover,
#content .btn-primary:focus,
#content .btn-primary:active,
#content .btn-primary.active,
#content .btn-primary.disabled,
#content .btn-primary[disabled] {
  background-color: #661c00;
  *background-color: #5c1900;
}
#content .btn-free {
  background-color: #fcf8dc;
  *background-color: #f8efb1;
  background-image: -moz-linear-gradient(top, #fcf9e0, #f8efb1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcf9e0), to(#f8efb1));
  background-image: -webkit-linear-gradient(top, #fcf9e0, #f8efb1);
  background-image: -o-linear-gradient(top, #fcf9e0, #f8efb1);
  background-image: linear-gradient(to bottom, #fcf9e0, #f8efb1);
  border-color: #f8efb1 #f8efb1 #f5e785;
}
#content .btn-free:hover,
#content .btn-free:focus,
#content .btn-free:active,
#content .btn-free.active,
#content .btn-free.disabled,
#content .btn-free[disabled] {
  background-color: #fcf8dc;
  *background-color: #f8efb1;
}
#content form {
  margin-bottom: 0;
}
#content form .input-prepend .add-on {
  color: #463116;
  background-color: inherit;
  border: 1px solid #50483d;
}
#content form .input-prepend input,
#content form .input-prepend textarea,
#content form .input-prepend .uneditable-input {
  color: #463116;
  border: 1px solid #50483d;
}
#content form .input-prepend .span3 {
  width: 166px;
}
#content form .input-prepend .span6 {
  width: 406px;
}
#content h4 {
  text-align: left;
  margin: 0 0 5px;
  line-height: 25px;
  font-weight: normal;
  padding-left: 5px;
}
#content h6 {
  font-weight: normal;
  margin: 0;
}
#content .modal {
  background-color: #fcf8dc;
}
#content .modal .modal-header {
  border-bottom: 1px solid #50483d;
}
#content .modal .modal-body {
  background-color: inherit;
}
#content .modal .modal-footer {
  padding: 9px 15px 10px;
  background-color: inherit;
  border-top: none;
  box-shadow: none;
}
#content .modal .input-prepend input.span3,
#content .modal .input-prepend textarea.span3,
#content .modal .input-prepend .uneditable-input.span3 {
  width: 485px;
}
#actionResult {
  display: none;
}
.providers {
  margin: 5px 0;
  list-style: none;
}
.providers li {
  display: inline;
}
.help-block {
  margin: -10px 0 10px 0;
  font-size: 10px;
  color: #ccc !important;
}
.loggedin,
.loggedout {
  display: none;
}
@media (min-width: 1200px) {
  #content form .input-prepend .span3 {
    width: 216px;
  }
  #content form .input-prepend .span6 {
    width: 516px;
  }
  .box .box-body .span3 {
    width: 258px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #content form .input-prepend .span3 {
    width: 112px;
  }
  #content form .input-prepend .span6 {
    width: 298px;
  }
  .box .box-body .span3 {
    width: 154px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  #content .btn-primary {
    width: 98%;
  }
  #content form .input-prepend {
    display: block;
  }
  #content form .input-prepend .span3,
  #content form .input-prepend .span6 {
    width: 94%;
  }
  #content form .modal .btn-primary {
    width: auto;
  }
  #content form .modal .input-prepend {
    width: 100%;
  }
  #content form .modal .input-prepend .span3,
  #content form .modal .input-prepend .span6 {
    width: 94%;
  }
  .box .box-body .span3 {
    width: 98%;
  }
}
@media (max-width: 480px) {
  #content .btn-primary {
    width: 93%;
  }
  #content form .input-prepend {
    display: block;
  }
  #content form .input-prepend .span3,
  #content form .input-prepend .span6 {
    width: 86%;
  }
  #content form .modal .btn-primary {
    width: auto;
  }
  #content form .modal .input-prepend {
    width: 100%;
  }
  #content form .modal .input-prepend .span3,
  #content form .modal .input-prepend .span6 {
    width: 86%;
  }
  .box .box-body .span3 {
    width: 98%;
  }
}
