footer {
    text-align: center;
}

.message_divider {
    background-color: #888888;
    height: 1px;
    width: 70%;
    opacity: 0.7;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1px;
}
.messages > p {
    width: 70%;
    text-align: justify;
}

.usersPhoto {
	width: 100px;
}

.timeAgo {
    float: right;
    position: relative;
    top: -18px;
    left: -240px;
}