
<div class="well">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#friends" data-toggle="tab">Friends</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane active in" id="profile">
            <form id="profile-form">

            </form>
        </div>

        <div class="tab-pane fade" id="friends">
            <ul id='userlist'></ul>
        </div>

    </div>

</div>

<script type='text/template' id='userlist-template'>

    <% _.each( rc, function( user ) { %>
        <li><a><%- user.name %></a></li>
    <% }); %>

</script>

<script type='text/template' id='userprofile-template'>

    <label>Username</label>
    <input type="text" value="<%- rc.name %>" class="input-xlarge" required>
    <label>First Name</label>
    <input type="text" value="<%- rc.firstName %>" class="input-xlarge">
    <label>Last Name</label>
    <input type="text" value="<%- rc.lastName %>" class="input-xlarge">
    <label>Email</label>
    <input type="text" value="<%- rc.email %>" class="input-xlarge" required>
    <label>Address</label>
    <textarea rows="3" class="input-xlarge"><%- rc.address %></textarea>

    <button id="profile-modify-button" class="btn btn-primary">Update</button>

</script>

<script src="/assets/js/account/models/user_model.js"></script>
<script src="/assets/js/account/collections/user_collection.js"></script>
<script src="/assets/js/account/views/users_view.js"></script>
<script src="/assets/js/account/views/profile_view.js"></script>
<script src="/assets/js/account/account_main.js"></script>

