
<h2>Activity</h2>

<div class="row-fluid">
	<div class="span9" id="news_body"></div>
</div>

<!-- This is the publications header template -->
<script type="text/template" id="publication-head-template">
        <div class="box span7">
            <div class="publication_head">
                <div class="publication_header">
                    <a href="#wall/comment/<%- rc.id %>">
                        <span class="icon-bubbles"></span>
                        <span> <%- rc.subject %></span>
                    </a>
                    <span class="time-ago"><%- rc.timeAgo%> Replies: <%- rc.replies %></span>
				</div>
				<div class="first_comment"><span><%- rc.content %></span></div>
            </div>
        </div>
</script>

<!-- This is the template to show a publication comments and reply to it-->
<script src="/assets/js/timelineApp/model/publication.js"></script>
<script src="/assets/js/timelineApp/model/comment.js"></script>
<script src="/assets/js/timelineApp/view/receivedComments_view.js"></script>
<script src="/assets/js/timelineApp/view/commentsApp_view.js"></script>
<script src="/assets/js/timelineApp/view/publicationComments_view.js"></script>