<form action="/accounts/password/change" id="changePasswordForm">
<div id="changePassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="changePasswordLabel">Change password</h3>
    </div>
    <div class="modal-body">
        <div class="input-prepend">
            <div class="add-on"><span class="icon-key"></span></div>
            <input type="password" id="password" name="password" class="span3" placeholder="Password">
        </div>
        <div class="input-prepend">
            <div class="add-on"><span class="icon-key"></span></div>
            <input type="password" id="repeatPassword_field" name="repeatPassword_field" class="span3" placeholder="Repeat password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-free" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Change my password</button>
    </div>
</div>
</form>


<h1>Change password</h1>
<p>
    <form action="/accounts/password/change" id="changePasswordForm">
        <div class="clearfix  " id="password_field">
            <label for="password">Password</label>
            <div class="input">
                <input type="password" id="password" name="password" >
                <span class="help-inline"></span>
                <span class="help-block">Minimum length: 5, Required</span>
            </div>
        </div>
        <div class="clearfix  " id="repeatPassword_field">
            <label for="repeatPassword">Repeat chosen password</label>
            <div class="input">
                <input type="password" id="repeatPassword" name="repeatPassword" >
                <span class="help-inline"></span>
                <span class="help-block"></span>
            </div>
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary">
    </form>
</p>

<script>
    function submitChangePassword() {
        $('#actionResult').css('display','none');
        var forgotPasswordPost = $.post(
                $('#changePasswordForm').attr('action'),
                "password=" + $('#password').val() +
                "&repeatPassword=" + $('#repeatPassword').val()
        );
        forgotPasswordPost.done(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-info'>" + data + "</div>");
            $('#password').val('');
            $('#repeatPassword').val('');
        });
        forgotPasswordPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#changePasswordForm').submit(function(event) {
        event.preventDefault();
        submitChangePassword();
    });
</script>
