<!-- styles -->
<link href='/assets/css/ol/style.css' rel="stylesheet">
<link href='/assets/css/editmap.css' rel="stylesheet">

<h2>Edit Map</h2>
<p>Use the map built-in controls at the top-right</p>

<form id='editMapForm' method='post' action='#'>
    Map Source
    <select id='mapSource' name='mapSource'  value='osm'>
        <option value='osm'>OSM</option>
        <option value='bing'>Bing</option>
    </select>
</form>

<div id="map" class=""></div>

<!-- scripts -->
<!-- script src="http://openlayers.org/api/OpenLayers.js"></script -->
<script src="/assets/javascript/routes.js" defer="defer"></script>
<script src='/assets/js/OpenLayers.js'></script>
<script src='/assets/js/editmap.js'></script>
