<div class="box-transparent span12">
    <div class="row">
        <div class="box span6 offset3">
            <div class="box-header">
                <h3>Find your account</h3>
            </div>
            <div class="box-body">
                <form action='/login/password/forgot' id='forgotPasswordForm'>
                    <div class="row">
                        <div class="span6">
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-envelop"></span></div>
                            <input type="text" id="email" name="email" class="span6" placeholder="User email">
                        </div>
                        <input type="submit" value="Search" class="btn btn-primary span6">
                        </div>
                        <div class="span6">
                            <div id="forgot-error"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <h6><a href="#login">Have you got an account? Log in to uMappin</a></h6>
                <h6><a href="#signup">New to uMappin? Sign up now</a></h6>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForgotPassword() {
        var forgotPasswordPost = $.post(
            $('#forgotPasswordForm').attr('action'),
            "email=" + $('#email').val()
        );
        forgotPasswordPost.done(function( data ) {
            $('#forgot-error').css('display','block').empty().html(
                    "<div class='alert alert-info'>" + data + "</div>");
            $('#email').val('');
        });
        forgotPasswordPost.error(function( data ) {
            $('#forgot-error').css('display','block').empty().html(
                    "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#forgotPasswordForm').submit(function(event) {
        event.preventDefault();
        submitForgotPassword();
    });
</script>