<h1>Forgot password</h1>
<p>
    <form action="/login/password/forgot" id="forgotPasswordForm">
        <div class="clearfix  " id="email_field">
            <label for="email">Your e-mail address</label>
            <div class="input">
                <input type="text" id="email" name="email" value="" >
                <span class="help-inline"></span>
                <span class="help-block"></span>
            </div>
        </div>
        <input type="submit" value="Send reset instructions" class="btn btn-primary">
    </form>
</p>

<script>
    function submitForgotPassword() {
        $('#actionResult').css('display','none');
        var forgotPasswordPost = $.post(
                $('#forgotPasswordForm').attr('action'),
                "email=" + $('#email').val()
        );
        forgotPasswordPost.done(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-info'>" + data + "</div>");
            $('#email').val('');
        });
        forgotPasswordPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#forgotPasswordForm').submit(function(event) {
        event.preventDefault();
        submitForgotPassword();
    });
</script>
