<div class="box-transparent span12">
    <div class="row">
        <div class="box span6 offset3">
            <div class="box-header">
                <h3>Log in to uMappin</h3>
            </div>
            <div class="box-body">
                <form action='/login' id='loginForm'>
                    <div class="row">
                        <div class="span3">
                            <div class="input-prepend">
                                <div class="add-on"><span class="icon-envelop"></span></div>
                                <input type="text" id="email_login" name="email_login" class="span3" placeholder="User email">
                            </div>
                            <div class="input-prepend">
                                <div class="add-on"><span class="icon-key"></span></div>
                                <input type="password" id="password_login" name="password_login" class="span3" placeholder="Password">
                            </div>
                            <input type="submit" value="Log in" class="btn btn-primary span3">
                        </div>
                        <div class="span3">
                            <h4>We gotta check... are you human?</h4>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <h6 href="#forgotPassword" data-toggle="modal">Forgot your password? Find your accoung now</h6>
                <h6 href="#forgotPassword" data-toggle="modal">New to uMappin? Sign up now</h6>
            </div>
        </div>
    </div>
</div>

<script>
    /*
    function askOpenID(url) {
        var openid = prompt("Please enter your OpenID:", "yourname.myopenid.com");
        if(openid) {
            window.location.href = url + "?p=" + encodeURIComponent(openid);
        }
    }
    */
    function submitLogin() {
        $('#actionResult').css('display','none');
        var loginPost = $.post(
          $('#loginForm').attr('action'),
          "email=" + $('#email_login').val() + "&password=" + $('#password_login').val()
        );
        loginPost.done(function( data ) {
            $.get(
                '/sessionuser',
                function(data) {
                    updateSessionViews(data.name);
                    location.href='./';
                    sessionStorage.setItem("user", JSON.stringify(data));
                    $('#content').html('');
                }
            );
        });
        loginPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#loginForm').submit(function(event) {
        event.preventDefault();
        submitLogin();
    });
</script>