<div class="row-fluid">
    <div class="box span6 offset3">
        <form action="/signup" id='registerForm'>
            <legend>New to uMappin? Sign up</legend>
            <input type="text" id="name" name="name" placeholder="Username" class="row-fluid span3">
            <input type="text" id="email" name="email"  placeholder="Email" class="row-fluid span3">
            <input type="password" id="password" name="password" placeholder="Password"  class="row-fluid span3">
            <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Retype your password" class="row-fluid span3">
            <input type="submit" value="Sign up now" class="btn btn-primary">
        </form>
    </div>
    <div class="box span6 offset3">
        <h1>Login</h1>
        <div id="login" class="row-fluid">
            <div class="span12">
                <form action='/login' id='loginForm'>
                    <div class="clearfix  " id="email_field">
                        <label for="email_login">Your e-mail address</label>
                        <div class="input">
                            <input type="text" id="email_login" name="email_login" value="" >
                        </div>
                    </div>
                    <div class="clearfix  " id="password_field">
                        <label for="password_login">Password</label>
                        <div class="input">
                            <input type="password" id="password_login" name="password_login" >
                            <span class="help-inline"></span>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <input type="submit" value="Login now" class="btn btn-primary"><br/>
                    <br/>
                    <a href="#forgotPassword">Forgot your password?</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function askOpenID(url) {
        var openid = prompt("Please enter your OpenID:", "yourname.myopenid.com");
        if(openid) {
            window.location.href = url + "?p=" + encodeURIComponent(openid);
        }
    }

    function submitLogin() {
        $('#actionResult').css('display','none');
        var loginPost = $.post(
          $('#loginForm').attr('action'),
          "email=" + $('#email_login').val() + "&password=" + $('#password_login').val()
        );
        loginPost.done(function( data ) {
            $.get(
                '/sessionuser',
                function(data) {
                    updateSessionViews(data.name);
                    location.href='./';
                    sessionStorage.setItem("user", JSON.stringify(data));
                    $('#content').html('');
                }
            );
        });
        loginPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#loginForm').submit(function(event) {
        event.preventDefault();
        submitLogin();
    });

    function submitRegister() {
        $('#actionResult').css('display','none');
        var registerPost = $.post(
                $('#registerForm').attr('action'),
                "name=" + $('#name').val() + "&email=" + $('#email').val() +
                    "&password=" + $('#password').val() + "&repeatPassword=" + $('#repeatPassword').val()
        );
        registerPost.done(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-success'>User Signed Up! Check your email to confirm.</div>");
            $('#content').html('');
        });
        registerPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-info'>" + data.responseText + "</div>");
        });
    }

    $('#registerForm').submit(function(event) {
        event.preventDefault();
        submitRegister();
    });
</script>