<div class="box-transparent span12">
    <div class="row">
        <div class="box span6 offset3">
            <div class="box-header">
                <h3>Log in to uMappin</h3>
            </div>
            <div class="box-body">
                <form action='/login' id='loginForm'>
                    <div class="row">
                        <div class="span3">
                            <div class="input-prepend">
                                <div class="add-on"><span class="icon-envelop"></span></div>
                                <input type="text" id="email_login" name="email_login" class="span3" placeholder="User email">
                            </div>
                            <div class="input-prepend">
                                <div class="add-on"><span class="icon-key"></span></div>
                                <input type="password" id="password_login" name="password_login" class="span3" placeholder="Password">
                            </div>
                            <div class="input-prepend">
                                <div class="add-on"><span class="icon-users"></span></div>
                                <input type="text" id="human" name="human" class="span3" placeholder="2 + 1?">
                            </div>
                            <input type="submit" value="Log in" class="btn btn-primary span3">
                        </div>
                        <div class="span3">
                            <h4>We gotta check... are you human?</h4>
                            <div id="loginError"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <h6><a href="#forgotPassword">Forgot your password? Find your accoung now</a></h6>
                <h6><a href="#signup">New to uMappin? Sign up now</a></h6>
            </div>
        </div>
    </div>
</div>

<script>
    function submitLogin() {
        var loginPost = $.post(
          $('#loginForm').attr('action'),
          "email=" + $('#email_login').val() + "&password=" + $('#password_login').val()
        );
        loginPost.done(function( data ) {
            sessionStorage.setItem('token', data.token);
            $.ajax({
                url: "/sessionuser",
                data: { signature: 'authHeader' },
                type: "GET",
                beforeSend: function(xhr){xhr.setRequestHeader('token', data.token);},
                success: function(resp) {
                    setSessionUser(resp);
                    $('#actionResult').css('display','block').empty()
                                      .html("<div class='alert alert-success'>User Authenticated</div>");
                    location.href='./'
                }
            });
        });
        loginPost.error(function( data ) {
            $('#loginError').css('display','block').empty().html(
                "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    $('#loginForm').submit(function(event) {
        event.preventDefault();

        if($('#human').val() == '3'){
            submitLogin();
        }else{
            $('#loginError').css('display','block').empty().html(
                "<div class='alert alert-error'>Why didn't you reply the question?</div>");
        }

    });
</script>