<div class="box-transparent span3 offset9">
    <div class="row">
        <form action='/login' id='loginForm' class="span3">
            <div class="input-prepend">
                <div class="add-on"><span class="icon-envelop"></span></div>
                <input type="text" id="email_login" name="email_login" class="span3" placeholder="User email">
            </div>
            <div class="input-prepend">
                <div class="add-on"><span class="icon-key"></span></div>
                <input type="password" id="password_login" name="password_login" class="span3" placeholder="Password">
            </div>
            <input type="submit" value="Log in" class="btn btn-primary span3">
            <h6><a href="#forgotPassword" data-toggle="modal">Forgot your password?</a></h6>
        </form>
    </div>
</div>
<div class="box-transparent span3 offset9">
    <div class="row">
        <form action="/signup" id='registerForm' class="span3">
            <h4>New to uMappin? Sign up</h4>
            <div class="input-prepend">
                <div class="add-on"><span class="icon-users"></span></div>
                <input type="text" id="name" name="name" placeholder="Username" class="span3">
            </div>
            <div class="input-prepend">
                <div class="add-on"><span class="icon-envelop"></span></div>
                <input type="text" id="email" name="email"  placeholder="Email" class="span3">
            </div>
            <div class="input-prepend">
                <div class="add-on"><span class="icon-key"></span></div>
                <input type="password" id="password" name="password" placeholder="Password"  class="span3">
            </div>
            <div class="input-prepend">
                <div class="add-on"><span class="icon-key"></span></div>
                <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Retype password" class="span3">
            </div>
            <input type="submit" value="Sign up" class="btn btn-primary span3">
        </form>
    </div>
</div>
<!-- Modal -->
<form action="/login/password/forgot" id="forgotPasswordForm">
<div id="forgotPassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="forgotPasswordLabel">Find your account</h3>
    </div>
    <div class="modal-body">
        <div class="input-prepend">
            <div class="add-on"><span class="icon-envelop"></span></div>
            <input type="text" id="email_forgot" name="email_forgot" class="span3" placeholder="User email">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-free" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
</form>
<script>

    function submitLogin() {
        var loginPost = $.post(
          $('#loginForm').attr('action'),
          "email=" + $('#email_login').val() + "&password=" + $('#password_login').val()
        );
        loginPost.done(function( data ) {
            sessionStorage.setItem('token', data.token);
            $.ajax({
                url: "/sessionuser",
                data: { signature: 'authHeader' },
                type: "GET",
                beforeSend: function(xhr){xhr.setRequestHeader('token', data.token);},
                success: function(resp) {
                    setSessionUser(resp);
                    location.href='./'
                }
            });
        });
        loginPost.error(function( data ) {
            toastFail(data.responseText);
            location.href='./#login';
        });
    }

    $('#loginForm').submit(function(event) {
        event.preventDefault();
        submitLogin();
    });

    function submitRegister() {
        var registerPost = $.post(
                $('#registerForm').attr('action'),
                "name=" + $('#name').val() + "&email=" + $('#email').val() +
                    "&password=" + $('#password').val() + "&repeatPassword=" + $('#repeatPassword').val()
        );
        registerPost.done(function( data ) {
            $('#repeatPassword').val('');
            $('#name').val('');
            $('#email').val('');
            $('#password').val('');
            location.href='./';
        });
        registerPost.error(function( data ) {
            if(data.responseText == 'Unverified User, click the link in your email'){
                $('#repeatPassword').val('');
                $('#name').val('');
                $('#email').val('');
                $('#password').val('');
                toastNotify(data.responseText);
            }else{
                toastFail(data.responseText);
                location.href='./#signup';
            }
        });
    }

    $('#registerForm').submit(function(event) {
        event.preventDefault();
        submitRegister();
    });
    function submitForgotPassword() {
        var forgotPasswordPost = $.post(
                $('#forgotPasswordForm').attr('action'),
                "email=" + $('#email_forgot').val()
        );
        forgotPasswordPost.done(function( data ) {
            if(data == 'Your account has not been verified, yet. An e-mail including instructions on how to verify it has been sent out. Retry resetting your password afterwards.'){
                toastNotify(data);
            }else{
                toastSuccess(data);
            }
            $('#email_forgot').val('');
            $('#forgotPassword').modal('hide');
            location.href='./#';
        });
        forgotPasswordPost.error(function( data ) {
            $('#email_forgot').val('');
            $('#forgotPassword').modal('hide');
            toastFail(data.responseText);
            location.href='./#forgotPassword';
        });
    }

    $('#forgotPasswordForm').submit(function(event) {
        event.preventDefault();
        submitForgotPassword();
    });
</script>