<!------------------------------------- Styles -------------------------------------->
<link rel="stylesheet" href="/assets/css/openlayers/style.min.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="/assets/css/openlayers/ie6-style.min.css" />
<![endif]-->
<link rel="stylesheet" href="/assets/css/maps.min.css" />

<!------------------------------------- HTML -------------------------------------->
<div id='map-container'></div>


<!------------------------------------- Feature popup template -------------------------------------->
<script type='text/template' id='feature-popup-template'>
    <h4>geometry.name</h4>
    <p>
        geometry.latlng
        <a href="javascript:void(0)">
            <img class="image img-rounded" src="/assets/img/140x140.gif" alt="placeholder image"
                 height="32" width="32">
        </a>
    </p>
    <p>geometry.desc</p>

    <div class="dropdown">
        <button class='btn' onclick="$(this).parent('.dropdown').toggleClass('open')">
            Options <b class="caret"></b>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="geometryOptions">
            <li><a tabindex="-1" href="#">Edit</a></li>
            <li><a tabindex="-1" href="#">Delete</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Upload to OSM</a></li>
            <li><a tabindex="-1" href="#">Submit to Game</a></li>
            <li><a tabindex="-1" href="#">Bind a Picture</a></li>
        </ul>
    </div>
</script>

<!------------------------------------- Notes popup template -------------------------------------->
<script type='text/template' id='notes-popup-template'>
        <h4>Note created on: &nbsp;<%=rc.date_created%></h4>
        <div class='noteComments'>
            <% for (var c in rc.comments) { %>
                <div class='noteComment'>
                    Comment by:&nbsp;<a href='<%=rc.comments[c].user_url%>'><%=rc.comments[c].user || 'Unknown'%></a>
                    <label><%=rc.comments[c].date%>:&nbsp;<%=rc.comments[c].action%></label>
                    <%=rc.comments[c].html%>
                </div>
            <% } %>
        </div>
        <div class='newNoteComment'>
            <label>Add a new Comment:</label>
            <textarea id='newNoteCommentText_<%=rc.id%>' placeholder='type comment here'></textarea>
            <button class='button newNoteCommentButton' id='newNoteCommentButton_<%=rc.id%>'>Post Comment</button>
            <input type='hidden' id='newNoteCommentUrl_<%=rc.id%>' value='<%=rc.comment_url%>'>
            <button class='button closeNoteButton' id='closeNoteButton_<%=rc.id%>'>Close note</button>
            <input type='hidden' id='closeNoteUrl_<%=rc.id%>' value='<%=rc.close_url%>'>
        </div>
</script>

<!------------------------------------- Notes comment template -------------------------------------->
<script type='text/template' id='notes-comment-template'>
    <div class='noteComment'>
        Comment by:&nbsp;<a href='<%=rc.user_url%>'><%=rc.user || 'Unknown'%></a>
        <label><%=rc.date%>:&nbsp;<%=rc.action%></label>
        <%=rc.html%>
    </div>
</script>

<!------------------------------------- New note template -------------------------------------->
<script type='text/template' id='notes-new-template'>
    <div class='newNote'>
        <label>Create a new Note:</label>
        <textarea id='newNoteText-<%=rc%>' placeholder='type comment here'></textarea>
        <button class='button newNoteButton' id='newNoteButton-<%=rc%>'>Post Note</button>
    </div>
</script>