<h2>Messages</h2>

<div class="row">

    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav " id="subsec_nav" >
            <li id="received_messages"class="active"><a tabindex="-1" href="#received">Received</a></li>
            <li id="sended_messages"><a tabindex ="-1" href="#sended">Sent</a><li>
            <li id="group_messages"><a tabindex ="-1" href="#sended">Group</a><li>
        </ul>
    </div>
    <div class="span3">
        <ul id="discussion_list"></ul>
    </div>

</div>

<script type="text/template" id="discussion-head-template">
    <div class="span9  " >
        <div class="discussion_head">
            <div class="discussion_subject"><a href="/messages/<%- id %>"><%- subject %></a></div>
            <div class="discussion_author">
                <div class="author_name"><a href="/user/<%- user.id %>"><%- user.name %></a></div>
            </div>
        </div>
    </div>
</script>

<script type='text/template' id='discussion-list-template'>
    <% _.each( rc, function( listItem ){ %>
        <li><a><%- listItem.subject %></a></li>
    <% }); %>
</script>

<script src="/assets/js/messagesApp/model/discussion.js"></script>
<script src="/assets/js/messagesApp/collection/discussion_list.js"></script>
<script src="/assets/js/messagesApp/view/receivedMessages_view.js"></script>
<script src="/assets/js/messagesApp/view/messagesApp_view.js"></script>
<script src="/assets/js/messagesApp/test_data.js"></script>
