
	<ul id='discussion_list'></ul>
	
	<script type='text/template' id='discussion-head-template'>
		<%- subject %>
	</script>
	
	<script type='text/template' id='discussion-list-template'>
		<% _.each( rc, function( listItem ){ %>
            <li><a><%- listItem.subject %></a></li>
        <% }); %>
	</script>

	<script src="js/messagesApp/model/discussion.js"></script>
	<script src="js/messagesApp/collection/discussion_list.js"></script>
	<script src="js/messagesApp/view/receivedMessages_view.js"></script>
	<script src="js/messagesApp/view/messagesApp_view.js"></script>
	<script src="js/messagesApp/test_data.js"></script>
