<!------------------------------------- Styles -------------------------------------->
<link href="/assets/css/picture.min.css" rel="stylesheet">


<!------------------------------------- HTML -------------------------------------->
<div id="<%= !rc.readonly ? "dropPicture" : "staticPicture"%>">
  <% if (rc.data.get_content_location) { %>
      <img class="image img-rounded" src="<%=rc.data.get_content_location%>" alt="placeholder image">
      <% if (rc.showInfo) { %>
          <div id='pictureInfo'>
              <ul>
                  <li><strong><%=rc.data.title%></strong></li>
                  <li><%=rc.data.date_created ? new Date(rc.data.date_created).toLocaleString() : 'n/a'%></li>
              </ul>
          </div>
      <% } %>
  <% } else if (!rc.readonly) { %>
      Drop or Click
  <% } %>
</div>

