<!------------------------------------- Styles -------------------------------------->
<link href="/assets/css/picture.min.css" rel="stylesheet">


<!------------------------------------- HTML -------------------------------------->
<% if (rc.data.get_content_location) { %>
    <img class="image img-rounded" src="<%=rc.data.get_content_location%>"
         alt="placeholder image" height="140" width="140">
    <% if (rc.showInfo) { %>
        <div id='pictureInfo'>
            <ul>
                <li><strong><%=rc.data.title%></strong></li>
                <li><%=rc.data.date_created ? new Date(rc.data.date_created).toLocaleString() : 'n/a'%></li>
            </ul>
        </div>
    <% } %>
<% } else if (!rc.readonly) { %>
    <div id="dropPicture">Drop or Click</div>
<% } %>


