<!--
<h1>User profile</h1>
<p>
    <ul>
        <li>User: <span id="user"></span></li>
        <li>Email: <span id="useremail"></span></li>
        <li>First Name: <span id="userfirstname"></span></li>
        <li>Last Name: <span id="userlastname"></span></li>
        <li>User Id: <span id="userid"></span></li>
        <li>Last login date: <span id="userlogindate"></span></li>
        <br/>
        There is one provider linked with your account:
        <img alt="password icon" title="password" src="/assets/icons/password-24x24.png">
        <br/><br/>
        You are currently logged in with:
        <img alt="password icon" title="password" src="/assets/icons/password-24x24.png"><br/>
        <br/>
        <ul>
            <li>
                <a href="Javascript:setTemplate('/accounts/password/change')">
                    Change/set a password for your account
                </a>
            </li>
        </ul>
    </ul>
</p>
-->
<script>

    function updateProfileView(usr) {
        $('#user').text(usr.name);
        $('#useremail').text(usr.email);
        $('#userfirstname').text(usr.firstName);
        $('#userlastname').text(usr.lastName);
        $('#userid').text(usr.identifier);
        $('#userlogindate').text(new Date(usr.lastLogin).toLocaleString());
    }

    $.get(
        '/sessionuser',
        function(data) {
            console.log(data);
            updateProfileView(data);
            sessionStorage.setItem("user", JSON.stringify(data));
        }
    );

</script>
