<div class="box-transparent span12">
    <div class="row">
        <div class="box span6 offset3">
            <div class="box-header">
                <h3>Join uMappin today</h3>
            </div>
            <div class="box-body">
                <form action='/signup' id='registerForm'>
                    <div class="row">
                        <div class="span3">
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-users"></span></div>
                            <input type="text" id="name" name="name" placeholder="Username" class="span3">
                        </div>
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-envelop"></span></div>
                            <input type="text" id="email" name="email"  placeholder="Email" class="span3">
                        </div>
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-key"></span></div>
                            <input type="password" id="password" name="password" placeholder="Password"  class="span3">
                        </div>
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-key"></span></div>
                            <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Retype password" class="span3">
                        </div>
                        <div class="input-prepend">
                            <div class="add-on"><span class="icon-users"></span></div>
                            <input type="text" id="human" name="human" class="span3" placeholder="2 + 1?">
                        </div>
                        <input type="submit" value="Sign up" class="btn btn-primary span3">
                        </div>
                        <div class="span3">
                            <h4>We gotta check... are you human?</h4>
                            <div id="signupError"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <h6><a href="#forgotPassword">Forgot your password? Find your accoung now</a></h6>
                <h6><a href="#login">Have you got an account? Log in to uMappin</a></h6>
            </div>
        </div>
    </div>
</div>

<script>
    function submitRegister() {
        var registerPost = $.post(
                $('#registerForm').attr('action'),
                "name=" + $('#name').val() + "&email=" + $('#email').val() +
                    "&password=" + $('#password').val() + "&repeatPassword=" + $('#repeatPassword').val()
        );
        registerPost.done(function( data ) {
            console.log(responseText);
            $('#signupError').css('display','block').empty().html(
                "<div class='alert alert-success'>" + data.responseText + "</div>");
        });
        registerPost.error(function( data ) {
            var alert;

            if(data.responseText == 'Unverified User, click the link in your email'){
                alert = 'alert-success';
            }else{
                alert = 'alert-error';
            }

            $('#signupError').css('display','block').empty().html(
                "<div class='alert "+ alert +"'>" + data.responseText + "</div>");
        });
    }

    $('#registerForm').submit(function(event) {
        event.preventDefault();

        if($('#human').val() == '3'){
            submitRegister();
        }else{
            $('#signupError').css('display','block').empty().html(
                "<div class='alert alert-error'>Why didn't you reply the question?</div>");
        }
    });
</script>