<form id="dummy-form">
    <div class='row'>
        <div class='span3'>
            <label>Id</label>
            <input type="text" id ='idInput'>
            <label>Name</label>
            <input type="text" id ='nameInput'>
            <label>Desc</label>
            <input type="text" id ='descInput'>
        </div>
        <div class='span1'>
            <button>GET</button>
            <button>POST</button>
            <button>PUT</button>
            <button>DELETE</button>
        </div>
    </div>
</form>

<script>
    var restURL = "//items";
    $('button').click(function() {
        var params =  ['PUT','DELETE', 'GET'].indexOf($(this).text()) != -1 ? $('#idInput').val() : "";
        var fullURL = restURL + ($('#idInput').val() != "" ? "/" + params : "");
        var req = $.ajax({
            url: fullURL,
            type: $(this).text(),
            contentType: "application/json",
            data: JSON.stringify({"itemName": $('#nameInput').val(), "itemDesc": $('#descInput').val()})
        });
        req.done(function(result) {
            console.log(result);
        });
    })
</script>
