<div id="userContent">
    <table><tbody></tbody></table>
</div>

<script>

    function follow(username) {
        $('#actionResult').css('display','none');
        var followPost = $.post(
                "/follow",
                "name="+username
        );
        followPost.done(function( data ) {
            //updateUsersView();
            $('#followUser_' + username)
                    .attr('value', 'Unfollow')
                    .attr('onclick', 'unfollow("' + username + '")');
        });
        followPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    function unfollow(username) {
        $('#actionResult').css('display','none');
        var followPost = $.post(
                "/unfollow",
                "name="+username
        );
        followPost.done(function( data ) {
            //updateUsersView();
            $('#followUser_' + username)
                    .attr('value', 'Follow')
                    .attr('onclick', 'follow("' + username + '")');
        });
        followPost.error(function( data ) {
            $('#actionResult').css('display','block').empty().html(
                    "<div class='alert alert-error'>" + data.responseText + "</div>");
        });
    }

    function updateUsersView() {
        $('#userContent').empty();
        $.get(
            "/users",
            function(users) {
                $.get(
                    "/follows",
                    function(follows) {
                        var htmlString = '<table>';
                        for (var key in users) {
                            if (JSON.stringify(users[key].id) != JSON.stringify(follows.userId)) {
                                htmlString += '<tr><td>' + users[key].name +
                                        '</td><td><input id="followUser_' + users[key].name +
                                        '" type="button" class="btn btn-primary" ';
                                var b = (follows.follows == null);
                                if (!b) {
                                    for (var i in follows.follows) {
                                        b = b || (JSON.stringify(follows.follows[i]) == JSON.stringify(users[key].id));
                                        if (b) break;
                                    }
                                } else {
                                    b = false;
                                }
                                if (b) htmlString +=  'value="Unfollow" onclick="unfollow(\'' + users[key].name +  '\')"/>';
                                else  htmlString +=  'value="Follow" onclick="follow(\'' + users[key].name +  '\')"/>';

                                htmlString += '</td></tr>';
                            }
                        }
                        htmlString += '</table>';
                        $("div#userContent").append(htmlString);
                    }
                );
            }
        );
    }

    updateUsersView();


</script>
