<!------------------------------------- Styles -------------------------------------->
<link href="/assets/css/account.min.css" rel="stylesheet">


<!------------------------------------- HTML -------------------------------------->
<div class="box-transparent span9">
    <div class="row">
        <div class="box span7 offset1">
            <div class="box-header">
                <h3>User list</h3>
            </div>
            <div class="box-body">
                <div id="users">
                    <div id='users-filters'>
                        <div class="row">
                            <div class="span6">
                                <form class="navbar-search pull-left">
                                    <div class="input-prepend">
                                        <div class="add-on"><span class="icon-magnifying-glass"></span></div>
                                        <input id="textFilter" type="search" placeholder="Search" class='input-xxlarge'>
                                    </div>
                                </form>
                            </div>
                            <div class="span3">
                                Order By: &nbsp;
                                <select id='orderFilter'>
                                    <option value='name'>Name</option>
                                    <option value='lastLogin'>Last Login</option>
                                    <option value='discussions'>Discussions</option>
                                    <option value='awards'>Awards</option>
                                </select>
                            </div>
                            <div class="btn-group span3 offset1" data-toggle="buttons-checkbox">
                                <button type="button" id="followsFilter" class="btn btn-primary">Following</button>
                                <button type="button" id="followedFilter" class="btn btn-primary">Followed By</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span7">
                                <ul id='userlist'></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!------------------------------------- Templates -------------------------------------->
<script type='text/template' id='user-row-template'>
  <div class='row'>
    <div class="span1">
        <img class="image img-rounded" src="/assets/img/140x140.gif" alt="placeholder image">
    </div>
    <div class="span3">
        <h3><%=rc.name%></h3>
    </div>
  </div>
</script>

<script type='text/template' id='user-follows-template'>
    <button class="btn btn-primary"><%=rc%></button>
</script>

<script type='text/template' id='user-followed-template'>
    <label class=""><%=rc%></label>
</script>

