<div class="container1">
	<div class="left_offset clearfix">
		<div class="container">
			<header> </header>

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						<div class="media">
							<img src="..." class="img-polaroid" href="#account">
							<div class="media-body">
								<h4 class="media-heading">Iosu Garcia</h4>
							</div>
						</div>
					</div>

					<div class="span8">
						<div id="new_post">
							<input class="input-block-level" type="text"
								placeholder="Subject">
							<textarea rows="3" class="input-block-level"
								placeholder="Share your thoughts..."></textarea>
							<button type="submit" class="btn btn-primary btn-large">Post</button>
						</div>
						<hr>
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion2" href="#collapseOne"> One Map
										blablabla </a>
								</div>
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">The other day I was...</div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion2" href="#collapseTwo"> Problem
										With Item</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="accordion-inner">I was editing the...</div>
									<div class="accordion-inner">I was editing the...</div>
								</div>
							</div>
						</div>
					</div>

					<div class="span2">
						<div class="span1">
							<span class="label label-info">Activity Map</span>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
</script>