<div id='wallDiv'>
  <div class="box-transparent span9">
      <div class="row">
          <div class="box span7 offset1">
              <div class="box-header">
                  <h3>Wall</h3>
              </div>
              <div class="box-body">
                  <div id="new_post" style="text-align: right;">
                      <input id="form_subject" class="input-block-level" type="text"
                          name="subject" placeholder="Subject">
                      <textarea name="comment" id="form_comment" rows="3"
                          class="input-block-level" placeholder="Share your thoughts..."></textarea>
                      <button id="send_new_publication_button" class="btn btn-primary"
                          style="margin-bottom: 20px;">Post</button>
                  </div>
                  <div id="comments_body" class="row">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- This is the publications header template -->
<script type="text/template" id="publication-head-template">
        <% maxPhotosSeen=5; %>

        <div class="box span7">
            <div class="publication_head">
                <div class="publication_header">
                    <a href="#wall/comment/<%- rc.id %>">
                        <span class="icon-bubbles"></span>
                        <span> <%- rc.subject %></span>
                    </a>
                    <span class="time-ago"><%- rc.timeAgo%> Replies: <%- rc.replies %></span>
				</div>
				<div class="first_comment"><span><%- rc.content %></span></div>
            </div>
        </div>
</script>

<!-- This is the template to show a publication comments and reply to it-->
<script type="text/template" id="comments-template">
        <% maxPhotosSeen=5; %>

         <div class="span7">
            <h4><%- rc.subject %></h4>
             <div class="comments">
                 <% _.each(rc.messages, function(commentObject){ %>
                    <span class="comment">
                        <label>
                            <a class="wall-user-reply" href="/#wall/user/<%- commentObject.user.id%>"><%- commentObject.user.name %></a>
                        </label>
                        <span>
                            <%= " " + commentObject.message %>
                        </span>
                    </span>
                    <span class="timeAgo"><%- commentObject.timeAgo%></span>
                 <% }); %>
             </div>
             <textarea id="sending_comment" class="replybox"></textarea>
             <button id="reply" class="replybox">Reply</button>
             <button id="backWall" class="replybox">Back to wall</button>
         </div>
</script>
