
<h2>Wall</h2>

<div id="new_post">
	<input id="form_subject" class="input-block-level" type="text"
		name="subject" placeholder="Subject">
	<textarea name="comment" id="form_comment" rows="3"
		class="input-block-level" placeholder="Share your thoughts..."></textarea>
	<button id="send_new_publication_button" class="bnt-large btn-success ">Post</button>
</div>

<div class="row-fluid">
	<div class="span9" id="comments_body"></div>
</div>

<!-- This is the publications header template -->
<script type="text/template" id="publication-head-template">
       <% maxPhotosSeen=5; %>

        <div class="span9 ">
            <div class="publication_head">
                <div class="publication_header">
					<a><%- rc.subject %></a>
					<a href="#wall/comment/<%- rc.id %>"><span class="icon-bubbles"><%- rc.replies %></span></a>
				</div>
				<div class="first_comment"><label> <%- rc.content %></label></div>
            </div>
			<br/>
        </div>
</script>

<!-- This is the template to show a publication comments and reply to it-->
<script type="text/template" id="comments-template">
        <% maxPhotosSeen=5; %>

         <div class="span9 ">
            <h4><%- rc.subject %></h4>
             <br/>
             <div class="comments span9">
                 <% _.each(rc.messages, function(commentObject){ %>
                    <div>
                    <span class="comment"><a href="/#account/<%- commentObject.user.id%>"><%- commentObject.user.name %></a>:<%= " " + commentObject.message %>
                    </span>
                    <span class="timeAgo"><%- commentObject.timeAgo%></span>
                    </div>
					<br/>
                 <% }); %>
             </div>
             <textarea id="sending_comment" class="span8 replybox"></textarea>
             <button id="reply" class="replybox">Reply</button>
         </div>
     </script>
<script src="/assets/js/timelineApp/model/publication.js"></script>
<script src="/assets/js/timelineApp/model/comment.js"></script>
<script src="/assets/js/timelineApp/view/receivedComments_view.js"></script>
<script src="/assets/js/timelineApp/view/commentsApp_view.js"></script>
<script src="/assets/js/timelineApp/view/publicationComments_view.js"></script>