@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-newspaper, .icon-bubbles, .icon-cog, .icon-heart-stroke, .icon-trophy, .icon-magnifying-glass, .icon-key, .icon-users, .icon-unlocked, .icon-envelop, .icon-switch, .icon-office, .icon-map, .icon-address-book, .icon-phone, .icon-camera, .icon-pencil, .icon-file, .icon-share {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-newspaper:before {
	content: "\e006";
}
.icon-bubbles:before {
	content: "\e007";
}
.icon-cog:before {
	content: "\e008";
}
.icon-heart-stroke:before {
	content: "\e009";
}
.icon-trophy:before {
	content: "\e00a";
}
.icon-magnifying-glass:before {
	content: "\e00b";
}
.icon-key:before {
	content: "\e00c";
}
.icon-users:before {
	content: "\e001";
}
.icon-unlocked:before {
	content: "\e002";
}
.icon-envelop:before {
	content: "\e003";
}
.icon-switch:before {
	content: "\e004";
}
.icon-office:before {
	content: "\e005";
}
.icon-map:before {
	content: "\e00d";
}
.icon-address-book:before {
	content: "\e00f";
}
.icon-phone:before {
	content: "\e010";
}
.icon-camera:before {
	content: "\e011";
}
.icon-pencil:before {
	content: "\e00e";
}
.icon-file:before {
	content: "\e012";
}
.icon-share:before {
	content: "\e013";
}
