@(localUser: models.User = null)

@main(Messages("messages.index.title"), "Messages") {

<!-- styles -->
<link href='@routes.Assets.at("css/ol/style.css")' rel="stylesheet">
<link href='@routes.Assets.at("css/editmap.css")' rel="stylesheet">

<h2>@Messages("messages.index.title")</h2>
<p>@Messages("messages.message.controls")</p>

<div class="row">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav " id="subsec_nav" >
            <li id="received_messages"class="active"><a tabindex="-1" href="#received">@Messages("messages.received.title")</a></li>
            <li id="sended_messages"><a tabindex ="-1" href="#sended">@Messages("messages.sended.title")</a><li>
             <li id="group_messages"><a tabindex ="-1" href="#sended">@Messages("messages.group.title")</a><li>

            </ul>
        </div>
        <div class="span9  " >

            <ul id="discussion_list">

            </ul>
        </div>


    </div>
</div>

<div id="newDiscussion" style="display:none;">
    
        <label for="form_subject">Subject</label><input type="text" name="subject" id="form_subject"/><br/>
        <label for="form_message">Message</label><textarea name="message" id="form_message" ></textarea><br />
        <label for="form_all">All</label><input type="checkbox" name="all" id="form_all_check" />
        <label for="form_receivers">Receivers</label><input type="text" name="receivers" id="form_receivers" /><br />
        <button id="createDiscussionButton" class="bnt-large btn-success " >Send</button>
</div>


<!-- This is the discussions header template -->
<script type="text/template" id="discussion-head-template">
            <div class="discussion_head">
                <div class="discussion_subject"><a href="/messages/<%- id %>"><%- subject %></a></div>
                <div class="discussion_author">
                    <div class="author_name"><a href="/user/<%- user.id %>"><%- user.name %></div>
                </div>  
            </div>
</script>

    <!-- scripts -->
    <!-- script src="http://openlayers.org/api/OpenLayers.js"></script -->
    <script src='@routes.Assets.at("js/jquery-1.9.1.min.js")'></script>

    <script src='@routes.Assets.at("js/underscore-min.js")'></script>


    <script src='@routes.Assets.at("js/backbone-min-0.9.js")'></script>
    <script src='@routes.Assets.at("js/messagesAPP/model/discussionHeader.js")'></script>
    <script src='@routes.Assets.at("js/messagesAPP/collection/discussionHeader_list.js")'></script>
    <script src='@routes.Assets.at("js/messagesAPP/view/receivedMessages_view.js")'></script>
    <script src='@routes.Assets.at("js/messagesAPP/view/messagesApp_view.js")'></script>
    <script src='@routes.Assets.at("js/messagesAPP/view/newDiscussion_view.js")'></script>

    <script src='@routes.Assets.at("js/messagesAPP/routers/router.js")'></script>



    <script src='@routes.Assets.at("js/messagesAPP/test_data.js")'></script>




    <script src="@routes.Application.jsRoutes" defer="defer"></script>

}