@(message: models.Message = null)

@main(Messages("umappin.title")){

    @if(message.id != null){
    <div class="alert">message was sent, id is:<a href="@routes.RestMessages.findById(message.id)">@message.id</a>
    </div>

    }


     <form action="@routes.UserMessage.post" method="post">
        <label for="name">subject</label><input name="subject" value="@message.subject">
        <label for="name">your message here</label><textarea name="body">@message.body</textarea>
         <input type="submit" value="send">
     </form>
    <a href="@routes.RestMessages.all">view all messages (REST)</a>
}